* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

body {
    background: radial-gradient(rgb(90, 22, 22), rgb(61, 11, 11));
}

.burger {
    width: 20vw;
    margin: 20vh auto;
    position: relative;
}
.bun {
    height: 6vw;
    background: linear-gradient(180deg, #f0b55e,#db9730);
    position: relative;
}
.bun.top {
    border-radius: 50% 50% 25% 25%;
    z-index: 100;
}
.bun.bottom {
    border-radius: 25% 25% 50% 50%;
    z-index: 0;
    margin-top: -2vw;
}
.sesame {
    background: linear-gradient(wheat, rgb(255, 243, 220));
    border-radius: 50%;
    width: .4vw;
    height: .9vw;
    position: absolute;
}
.sesame:nth-of-type(1) {
    left: 25%;
    top: 5%;
    transform: rotate(16deg);
}
.sesame:nth-of-type(2) {
    left: 66%;
    top: 32%;
    transform: rotate(48deg);
}
.sesame:nth-of-type(3) {
    left: 14%;
    top: 40%;
    transform: rotate(-12deg);
}
.sesame:nth-of-type(4) {
    left: 77%;
    top: 45%;
    transform: rotate(96deg);
}
.sesame:nth-of-type(5) {
    left: 33%;
    top: 33%;
    transform: rotate(-122deg);
}
.sesame:nth-of-type(6) {
    left: 55%;
    top: -2%;
    transform: rotate(-48deg);
}
.sesame:nth-of-type(7) {
    left: 45%;
    top: 20%;
    transform: rotate(24deg);
}
.sesame:nth-of-type(8) {
    left: 85%;
    top: 14%;
    transform: rotate(40deg);
}

.ketchup {
    background: #f92828;
    position: absolute;
    left: 67%;
    top: 5.5vw;
    width: 3vw;
    height: 1vw;
    border-radius: 50%;
    z-index: 80;
}
.ketchup .drip {
    background: #f92828;
    height: 6vw;
    width: 40%;
    margin: 0 auto;
}
.ketchup .end {
    background: #f92828;
    height: .65vw;
    width: 1.7vw;
    border-radius: 50%;
    margin: 0 auto;
    position: relative;
    top: -.4vw;
}

.onions {
    margin-top: -.5vw;
    height: 1vw;
    position: relative;
}
.onion {
    background: linear-gradient(90deg, rgb(126, 21, 99) 0%, rgb(153, 30, 122) 25%, rgb(182, 46, 148) 50%, rgb(153, 30, 122) 75%, rgb(126, 21, 99) 100%);
    position: absolute;
    width: 75%;
    height: 100%;
    border-radius: 20% 20% 40% 40%;
    
}
.onion:nth-of-type(1) {
    left: 5%;
    z-index: 50;
    transform: rotate(-1deg);
}
.onion:nth-of-type(2) {
    top: -20%;
    left: 20%;
    z-index: 60;
    transform: rotate(1deg);
    border-bottom: 4px solid rgba(255, 255, 255, .1);
    
}

.tomato {
    margin: -1vw auto 0;
    height: 2vw;
    width: 95%;
    background: linear-gradient(90deg, #af4431 0%, tomato 25%, #ff7961 50%, tomato 75%, #af4431 100%);
    position: relative;
    z-index: 30;
    border-radius: 20% 20% 40% 40%;
}
.tomatoes .left {
    transform: rotate(-2deg);
    position: relative;
    z-index: 5;
}
.tomatoes .right {
    transform: rotate(4deg);
    position: relative;
    left: -1vw;
    top: -.1vw;
}

.lettuce {
    position: relative;
    z-index: 20;
    margin-top: -2.5vw;
}
.lettuce .top {
    height: 2.5vw;
    background: rgb(22, 201, 22);
    border-radius: 1vw 1vw 0 0;
}
.ruffles {
    height: 1vw;
    display: flex;
    flex-direction: row;
    align-items: stretch;
}
.ruffle {
    flex: 1;
    background: linear-gradient(180deg, rgb(22, 201, 22), rgb(27, 221, 27));
    border-radius: 0 0 50% 50%;
}

.cheese {
    background: linear-gradient( rgb(255, 251, 16), rgb(255, 252, 59));
    height: 4vw;
    position: relative;
    margin: -2vw auto 0 auto;
    z-index: 10;
    clip-path: polygon(0 30%, 50% 100%, 100% 30%);
    width: 95%;
}

.patty {
    background: rgb(36, 16, 16);
    height: 4vw;
    border-radius: 25%;
    position: relative;
    z-index: 5;
    margin-top: -3vw;
}
