* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    min-height: 100vh;
    overflow: hidden;
}

body {
    --bg-dark: rgb(61, 11, 11);
    --bg-light: rgb(90, 22, 22);

    background: radial-gradient(var(--bg-light), var(--bg-dark));
}

.burger {
    width: 20vw;
    margin: 20vh auto;
    position: relative;
}

.bun {
    --dark: #db9730;
    --light: #f0b55e;

    height: 6vw;
    background: linear-gradient(var(--light), var(--dark));
    position: relative;
}
.bun.top {
    border-radius: 50% 50% 25% 25%;
    z-index: 100;
}
.bun.bottom {
    border-radius: 25% 25% 50% 50%;
    z-index: 0;
    margin-top: -2vw;
}

.sesame {
    --dark: wheat;
    --light: rgb(255, 243, 220);

    background: linear-gradient(var(--dark), var(--light));
    border-radius: 50%;
    width: .4vw;
    height: .9vw;
    position: absolute;
}
.sesame:nth-of-type(1) {
    left: 25%;
    top: 5%;
    transform: rotate(16deg);
}
.sesame:nth-of-type(2) {
    left: 66%;
    top: 32%;
    transform: rotate(48deg);
}
.sesame:nth-of-type(3) {
    left: 14%;
    top: 40%;
    transform: rotate(-12deg);
}
.sesame:nth-of-type(4) {
    left: 77%;
    top: 45%;
    transform: rotate(96deg);
}
.sesame:nth-of-type(5) {
    left: 33%;
    top: 33%;
    transform: rotate(-122deg);
}
.sesame:nth-of-type(6) {
    left: 55%;
    top: -2%;
    transform: rotate(-48deg);
}
.sesame:nth-of-type(7) {
    left: 45%;
    top: 20%;
    transform: rotate(24deg);
}
.sesame:nth-of-type(8) {
    left: 85%;
    top: 14%;
    transform: rotate(40deg);
}

.ketchup {
    background-color: #f92828;
    position: absolute;
    left: 67%;
    top: 5.5vw;
    width: 3vw;
    height: 1vw;
    border-radius: 50%;
    z-index: 80;
}
.ketchup .drip {
    background-color: inherit;
    height: 6vw;
    width: 40%;
    margin: 0 auto;
}
.ketchup .end {
    background-color: inherit;
    height: .65vw;
    width: 1.7vw;
    border-radius: 50%;
    margin: 0 auto;
    position: relative;
    top: -.4vw;
}

.onions {
    margin-top: -.5vw;
    height: 1vw;
    position: relative;
}
.onion {
    --dark: rgb(126, 21, 99);
    --med: rgb(153, 30, 122);
    --light: rgb(182, 46, 148);

    background: linear-gradient(to right,
        var(--dark) 0%,
        var(--med) 25%,
        var(--light) 50%,
        var(--med) 75%,
        var(--dark) 100%);
    position: absolute;
    width: 75%;
    height: 100%;
    border-radius: 20% 20% 40% 40%;
    
}
.onion:nth-of-type(1) {
    left: 5%;
    z-index: 50;
    transform: rotate(-1deg);
}
.onion:nth-of-type(2) {
    top: -20%;
    left: 20%;
    z-index: 60;
    transform: rotate(1deg);
    border-bottom: 2px solid rgba(255, 255, 255, .1);
}

.tomato {
    --dark: #af4431;
    --med: tomato;
    --light: #ff7961;

    background: linear-gradient(to right,
        var(--dark) 0%,
        var(--med) 25%,
        var(--light) 50%,
        var(--med) 75%,
        var(--dark) 100%);
    margin: -1vw auto 0;
    height: 2vw;
    width: 95%;
    position: relative;
    z-index: 30;
    border-radius: 20% 20% 40% 40%;
}
.tomatoes .left {
    transform: rotate(-2deg);
    position: relative;
    z-index: 5;
}
.tomatoes .right {
    transform: rotate(4deg);
    position: relative;
    left: -1vw;
    top: -.1vw;
}

.lettuce {
    --dark: rgb(22, 201, 22);
    --light: rgb(27, 221, 27);

    position: relative;
    z-index: 20;
    margin-top: -2.5vw;
}
.lettuce .top {
    background: var(--dark);
    height: 2.5vw;
    border-radius: 1vw 1vw 0 0;
}
.lettuce .ruffles {
    height: 1vw;
    display: flex;
    flex-direction: row;
    align-items: stretch;
}
.lettuce .ruffle {
    background: linear-gradient(var(--dark), var(--light));
    flex: 1;
    border-radius: 0 0 50% 50%;
}

.cheese {
    --dark: rgb(255, 251, 16);
    --light: rgb(255, 252, 59);

    background: linear-gradient(var(--dark), var(--light));
    height: 4vw;
    position: relative;
    margin: -2vw auto 0 auto;
    z-index: 10;
    clip-path: polygon(0 30%, 50% 100%, 100% 30%);
    width: 95%;
}

.patty {
    background: rgb(36, 16, 16);
    height: 4vw;
    border-radius: 25%;
    position: relative;
    z-index: 5;
    margin-top: -3vw;
}

#burger-description {
    display: none;
}
